@keyframes pulse-yellow {
    0% {
        color: #ffc107;
    }

    50% {
        color: white;
    }

    100% {
        color: #ffc107;
    }
}

.animate-pulse-yellow {
    animation: pulse-yellow 1.5s infinite;
}



@keyframes translateX {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes reverseTranslateX {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-600px);
    }

    100% {
        transform: translateX(0);
    }
}